.tidyall.d/
.tidyallrc
dbi_dump*
web/root/static/images/user/
web/root/static/docs
web/root/static/built
web/root/static/images/project/
web/root/static/images/campaign/
web/root/static/images/organization/
web/session_data/
web/session_data/*
web/websmm_local.conf
api/smm_local.conf
**blib**
web/blib**
api/blib**
web/.build**
docker/Makefile_*.PL

# Created by https://www.gitignore.io/api/sublimetext

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

# End of https://www.gitignore.io/api/sublimetext
